:root {
  --body-background: #f2ffec;
  --header-footer-background: #bfe494;
  --common-black: #000;
  --common-white: #fff;
  --border: #6f786f;
}

body {
  font-family: "kollektif Regular", sans-serif !important;
  background: var(--body-background);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

p,
span,
ul,
li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--common-black);
}

.rm-pd {
  padding: 0;
}

.rm-mg {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "kollektif Bold", sans-serif !important;
  color: var(--common-black);
  line-height: 110%;
  padding: 0;
  margin: 0;
}

.xs-p,
.sm-p,
.md-p,
.lg-p {
  font-family: "kollektif Regular", sans-serif !important;
  color: var(--common-black);
  line-height: 150%;
}

.button-radius {
  border-radius: 24px;
}

.fields-radius {
  border-radius: 12px;
}

.card-radius {
  border-radius: 20px;
}

/* Header section design */

.main-container {
  padding: 20px 100px;
}

.body-content {
  padding: 40px 100px;
}

.header-container {
  background: var(--header-footer-background);
  border-bottom: 5px solid var(--common-black);
  justify-content: center;
  align-items: center;
}

.profile-container,
.profile-container .name {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.categories-container,
.categories ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.categories-container .categories li a {
  font-size: 24px;
}

.profile img {
  max-width: 50px;
  border-radius: 50px;
}

.navbar-collapse {
  display: none;
}

/* Add profile design */
.profile-title h1 {
  display: inline-block;
  /* border-bottom: 5px solid #000; */
  font-size: 55px !important;
}

.img-icon {
  max-width: 15px;
}

.share-links-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.share-links-container p {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 5px 10px;
  border: 3px solid #000;
  border-radius: 20px;
}

.custom-file {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  /* border: 5px solid #6f786f; */
  border: 5px solid var(--common-black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 0 !important;
  cursor: pointer;
}

.custom-file::before {
  content: "";
  background-image: url("./images/upload.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 28px;
  height: 30px;
  display: block;
  position: absolute;
  top: 35%;
  cursor: pointer;
  fill: #6f786f;
}

.custom-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

section.category-wise-container {
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  padding: 5px 100px;
}

section.category-wise-container .options {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.all-categories-container {
  padding: 50px 100px 100px 100px;
}

.all-categories {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.action-container h4 {
  border-bottom: 8px solid #000;
}

.action-container {
  display: inline-block;
}

.multi-action {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.action {
  display: flex;
  flex-direction: revert;
  align-items: center;
  gap: 20px;
  padding: 10px 12px;
  border: 3px solid #000;
  border-radius: 24px;
  margin-top: 20px;
}
.plus-icon {
  fill: black;
  width: 16px; /* Adjust size as needed */
  height: 16px; /* Adjust size as needed */
}

.footer-container {
  background: var(--header-footer-background);
  border-top: 5px solid var(--common-black);
  padding: 20px 100px 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links .links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.footer-links .links a {
  border-bottom: 4px solid #000;
}

.upload-profile-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 50px;
  padding: 50px 0;
}

.profile-details .details {
  display: flex;
  flex-direction: revert;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.profile-details .details i {
  width: 20px;
}
/* .profile-details .details p {
  border-bottom: 3px solid var(--common-black);
} */

.custom-modal {
  max-width: 50%;
}

.custom-modal-80 {
  max-width: 80%;
}

.modal-content {
  padding: 20px 70px;
  border-radius: 24px;
  border: 5px solid #000;
  background: #dbfdce;
  position: relative;
}

.modal-description {
  margin: 20px 0;
}

.modal-header,
.modal-footer {
  border: 0;
}

button.btn-close {
  opacity: 1;
  position: absolute;
  right: 20px;
  top: 20px;
}

.comment textarea {
  width: 100%;
  border-radius: 12px;
  background: transparent;
  border: 3px solid var(--common-black);
  height: 85px;
}

.modal-footer {
  justify-content: space-between;
}

button.btn-modal {
  background: 0;
  padding: 10px 12px;
  border: 3px solid var(--common-black);
  border-radius: 24px;
}

button.btn-modal-white-outline {
  background: 0;
  padding: 10px 12px;
  border: 3px solid var(--common-white);
  border-radius: 24px;
  color: var(--common-white);
}

button.btn-modal.black {
  color: var(--common-white);
  background: var(--common-black);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

button.generate-outline {
  color: var(--common-black);
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

button.btn-modal-white {
  color: #00893d;
  background: var(--common-white);
  padding: 10px 12px;
  border-radius: 24px;
  border: 3px solid var(--common-white);
}

.btn-modal-simple {
  font-size: 12px !important;
  color: grey;
  text-decoration: underline;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 0;
}

.mini-text {
  font-size: 12px;
  color: grey;
}

.help-me {
  margin: 20px 0;
}

.field-content p {
  color: var(--border);
  margin: 5px 0;
}

.input-field input {
  border-radius: 12px;
  background: transparent;
  border: 3px solid var(--common-black);
  width: 100%;
  padding: 10px;
  outline: 0;
}

.modal-field {
  margin-bottom: 20px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin: 15px 0;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.checkbox-container input {
  visibility: hidden;
}

.checkbox-container label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Checkbox custom appearance */
.checkbox-container input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 4px solid #000; /* Border color */
  border-radius: 5px;
  margin-right: 10px;
}

/* Checkbox checked style */
.checkbox-container input[type="checkbox"]:checked + label::before {
  background-color: #000; /* Fill color when checked */
}

.modal-upload {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
}

.modal-upload .custom-file {
  width: 100px;
  height: 100px;
}

.notification {
  border-right: 5px solid #000;
  border-bottom: 5px solid #000;
  border-radius: 20px;
}

.notification-container {
  background: #00893d;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  border-right: 3px solid var(--body-background);
  border-bottom: 3px solid var(--body-background);
}

.close-notification {
  position: absolute;
  right: 10px;
  top: 10px;
}

.notification-description {
  margin: 5px 0;
}

button#closeNotificationBtn {
  background: transparent;
  border: 0;
}

.notification-label p,
.notification-description p,
button#closeNotificationBtn {
  color: var(--body-background);
}

.notification-label p {
  font-weight: bold;
}

.selected-tags {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.remove-tag {
  display: flex;
  align-items: center;
  background: #f2fffa;
  border-radius: 6px;
  border: 2px solid var(--border);
  padding: 0 8px;
}

.remove-tag button,
.remove-tag .close-tag {
  background: transparent;
  border: 0;
  color: var(--border);
  font-size: 14px;
}

.remove-tag .close-tag {
  cursor: pointer;
}

.required {
  color: red;
}

.modal-field .input-field input::placeholder,
.modal-field .comment textarea::placeholder {
  color: #000;
}

#addOfferingsStepTwo .modal-field .comment textarea {
  height: 100px;
}

#addOfferingsStepTwo .modal-field .comment textarea#more-info {
  height: auto;
}
.modal-field .comment textarea {
  padding: 10px;
}

.actions-container {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}

.actions-container.custom {
  justify-content: space-between;
  gap: 20px;
}

.actions-container button {
  padding: 5px 12px !important;
}

.add-custom-field {
  margin: 0;
  justify-content: center;
  align-items: center;
}

.add-custom-field #custom-field {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.multi-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.multi-options select {
  border-radius: 24px;
  background: transparent;
  border: 3px solid var(--common-black);
  padding: 5px 30px 5px 10px; /* Adjust padding to create space for the arrow */
  -webkit-appearance: none;
  appearance: none;
  background-image: url("./images/down.svg");
  background-repeat: no-repeat;
  background-position: right 10px center; /* Adjust position to accommodate padding */
}

.custom-label-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.multi-options.customized {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}

.multi-options.customized select {
  width: 100%;
}

.modal-footer.full-width {
  flex-direction: column;
}

.modal-footer.full-width button {
  width: 100%;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 24px;
  }

  .xl-p {
    font-size: 32px;
    font-weight: bold;
    color: #000;
  }

  .lg-p {
    font-size: 20px;
  }

  .md-p {
    font-size: 16px;
    font-weight: 600;
  }

  .sm-p {
    font-size: 14px;
  }

  .xs-p {
    font-size: 12px;
  }

  .all-categories {
    width: 780px;
  }
  #addOfferingsStepTwo .modal-footer,
  div#addValuesStepTwo .modal-footer {
    flex-direction: row-reverse;
  }
  div#addValuesStepTwo .comment textarea {
    height: 180px;
  }
  .profile-container.mobile {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  .xl-p {
    font-size: 18px;
  }

  .lg-p {
    font-size: 16px;
  }

  .md-p {
    font-size: 14px;
  }

  .sm-p {
    font-size: 12px;
  }

  .xs-p {
    font-size: 10px;
  }

  .main-container {
    padding: 20px 30px;
  }

  .header-logo {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  button#navbarToggler,
  button#navbarToggler:focus:not(:focus-visible),
  button#navbarTogglerr:focus {
    border: 0 !important;
    outline: 0 !important;
    padding: 0;
  }

  .navbar-collapse {
    height: 100vh !important;
  }

  .categories-container .categories li a {
    font-size: 20px;
  }

  .categories-container {
    margin: 20px 0;
  }

  .categories-container,
  .categories ul {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }

  .profile-container {
    display: none !important;
  }

  .body-content {
    padding: 20px;
  }
  .share-links-container,
  .category-wise-container {
    display: none;
  }

  .custom-file {
    height: 100px;
    width: 100px;
  }

  .multi-action {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .multi-action a,
  .multi-action .action {
    width: 100%;
  }

  .action {
    justify-content: center;
  }

  .all-categories-container {
    padding: 50px 20px;
  }

  .footer-container {
    padding: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
  }

  .all-categories {
    width: 100%;
  }

  .md-p {
    font-weight: bold;
  }

  .upload-profile-container {
    position: relative;
  }

  .details.add-description {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .custom-modal {
    max-width: 100%;
  }

  .modal-content {
    padding: 20px 20px;
  }

  .modal-footer {
    flex-direction: column-reverse;
  }

  .modal-footer button,
  .help-me button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-footer.screen-three {
    flex-direction: column;
  }

  .notification-container {
    padding: 25px 25px 20px 25px;
  }

  .actions-container {
    flex-direction: column;
  }

  .profile-container.mobile {
    display: block !important;
  }
  .mobile-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
  }

  .custom-modal-80 {
    max-width: 100%;
  }

  #moreTagsList {
    width: 100% !important;
  }

  .minimumtags {
    display: flex;
    align-items: flex-start !important;
  }
  #moreOptionsLink {
    white-space: nowrap;
  }

  .starter-notification-buttons {
    flex-direction: column;
    gap: 15px;
  }

  .starter-notification-buttons button {
    width: 100%;
  }

  .profile-title h1 {
    font-size: 32px !important;
  }

  .additional-profile-tag-links a.link-outfit p {
    font-size: 8px !important;
  }
  .offer-header,
  .offer-description,
  .add-value-highlights-container,
  .edit-action-content {
    flex-direction: column !important;
  }

  .offer-description .content,
  .edit-action-content .content-label,
  .edit-action-content .content {
    width: 100% !important;
  }
  .edit-action-content {
    gap: 10px;
  }

  .add-edit-offering-footer {
    flex-direction: column-reverse !important;
  }

  .normal-direction {
    flex-direction: column !important;
  }

  .modal-footer.full-width {
    flex-direction: column !important;
  }
}

.tags-list {
  list-style: none;
  padding: 0;
}

.tags-list li {
  display: inline-block;
  margin-right: 5px;
}

#moreOptionsLink {
  cursor: pointer;
  font-size: 11px;
  text-decoration: underline;
  margin: 5px 0 0 5px;
}

.minimumtags {
  display: flex;
  align-items: center;
}

#moreTagsList {
  width: 380px;
}

ul#tagsList .tag,
#moreTagsList .tag {
  color: grey;
  padding: 2px 5px;
  font-size: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  cursor: pointer;
}

.tag-light {
  background: #f5fffe;
}

.tag-medium {
  background: #f3f1f8;
}

.tag-dark {
  background: #feffed;
}

.starter-notification-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 10px 0;
}

.starter-notification {
  margin: 30px 0;
}

.additional-profile-tag-links {
  display: flex;
  align-items: center;
  gap: 10px;
}

a.link-outfit p {
  font-size: 10px !important;
  color: gray;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 2px 4px;
}

.edit-offering-container {
  padding: 20px;
  border: 1px solid #000;
  border-radius: 20px;
  background: #fafbe4;
}

.offer-header-content h4,
.highlight-title .title {
  border: 0;
  font-size: 20px;
}

.offer-header {
  display: flex;
  flex-direction: row;
}

.offer-header {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.offer-header-timestamp .details {
  display: flex;
  gap: 10px;
  align-items: center;
}

.offer-header-timestamp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.offer-header-timestamp .action {
  border: 2px solid #000;
  font-size: 12px;
  gap: 10px;
  padding: 5px 10px;
  margin-top: 5px;
}

.offer-header-timestamp .details p {
  white-space: nowrap;
}

.offer-header-timestamp .action p {
  font-size: 12px;
  white-space: nowrap;
}

.offer-description {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 0;
  gap: 20px;
}

.offer-description .content {
  width: 50%;
}

.highlight {
  padding: 10px;
  border: 2px solid #000;
  border-radius: 20px;
  background: #e4f8d2;
}

.add-value-highlights-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.content-label {
  display: flex;
  align-items: center;
  gap: 20px;
}

.edit-action-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.edit-action-content .content-label {
  width: 35%;
}

.edit-action-content .content {
  width: 65%;
}

.to-end {
  justify-content: flex-end;
}

/* FAQ Screen Design */

.extended-nav {
  justify-content: space-between;
}

.extended-category,
.extented-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.extented-link {
  padding: 10px 20px;
}

.extented-link.round {
  border: 3px solid #000;
  border-radius: 50px;
}

.extented-link.round h4 {
  white-space: nowrap;
}

.footer-extended-links .links {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.faq-main-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 100px;
}

.faq-content-container {
  padding: 100px 0px;
}

.faq-content-top {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.quick-question-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.faq-title p {
  font-size: 250px;
  margin-left: -20px;
  color: #000;
}

.label-container .extended-label {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  font-weight: normal;
}

.faq-section-container {
  padding-top: 25px;
}

.faq-item {
  padding: 20px 0;
  border-top: 2px solid #000;
}

.faq-item:hover {
  cursor: pointer;
}

.faq-item.last {
  border-bottom: 2px solid #000;
}

.faq-item .answer {
  display: none;
  padding-top: 10px;
  /* padding: 12px 16px; */
}

.faq-item .question {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq-item .question p {
  max-width: 580px;
}

span.toggle-icon {
  font-size: 25px;
  font-weight: bold;
}

/* FAQ Screen Design End */

/* FAQ Screen Mobile Design */

@media screen and (max-width: 768px) {
  .extended-category {
    flex-direction: column;
    align-items: flex-start;
  }
  .extented-link.simple {
    padding-bottom: 0;
    padding-left: 0;
  }
  .faq-title p {
    font-size: 100px;
    margin-left: 0;
  }

  .faq-content-container {
    padding: 0;
  }

  .faq-main-container {
    justify-content: space-between;
    gap: 50px;
    flex-direction: column;
  }

  .faq-item .question p {
    max-width: 250px;
  }

  .footer-extended-links .links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .extented-link.round {
    margin-left: -5px;
  }

  span.toggle-icon {
    font-size: 18px;
  }
}

/* FAQ Screen Mobile Design End */

/* Homepage Screen Design */

.homepage-hero-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 25px 0;
  gap: 100px;
}

.homepage-hero-content {
  /* width: 60%; */
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
  padding-top: 30%;
}

.hero-label p {
  font-size: 70px;
  line-height: 75px;
  color: #000;
}

.homepage-hero-content .links-container {
  display: flex;
  gap: 25px;
  align-items: center;
}

.hero-link {
  padding: 10px 35px;
  border: 3px solid #000;
  border-radius: 50px;
}

.hero-link a {
  font-size: 16px;
  font-weight: 600;
}

.hero-link.black {
  background: #000;
}

.hero-link.green {
  background: #bfe494;
}

.hero-link.black a {
  color: #bfe494;
}

.hero-link.green a {
  color: #000;
}

.homepage-hero-image {
  padding: 20px 80px;
  border: 2px solid #000;
  border-radius: 20px;
  background: #f2eeff;
  align-self: flex-start;
}

section.sponsors-section-wrapper {
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  background: #e4f5d0;
}

.sponsors {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
}

section.homepage-faq-main-wrapper {
  padding: 35px 0;
}

.homepage-faq-main-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 100px;
}

.homepage-faq-hero.individual {
  padding: 20px 80px;
  border: 2px solid #000;
  border-radius: 20px;
  background: #ffefee;
}

.homepage-hero-image-custom-wrapper {
  align-self: flex-start;
  border-radius: 50px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
}

.homepage-hero-image-custom-wrapper-two {
  align-self: flex-start;
  border-radius: 50px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
}

.homepage-hero-image-custom {
  border-top: 15px solid #f2eeff;
  border-right: 15px solid #f2eeff;
  border-radius: 50px;
}

.homepage-hero-image-custom-two {
  border-top: 15px solid #f2eeff;
  border-left: 15px solid #f2eeff;
  border-radius: 50px;
}

.benefits-content {
  padding: 30px 0;
}

.benefits-content .hero-label {
  display: flex;
  align-items: flex-end;
  gap: 100px;
}

.benefits-content .hero-label span {
  align-self: flex-end;
}

.benefits-logo-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 75px 0;
}

.benefits-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.benefits-logo p {
  text-align: center;
}

.benefits-content .links-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-hero-section.two {
  flex-direction: row-reverse;
}

.homepage-hero-image img,
.homepage-hero-image-custom img,
.homepage-hero-image-custom-two img {
  width: 100%;
}

/* Homepage Screen Design End */

/* Homepage Screen Design Mobile */

@media screen and (max-width: 768px) {
  .homepage-hero-section {
    flex-direction: column;
    padding: 0;
    gap: 50px;
  }
  .homepage-hero-content {
    padding-top: 0;
  }
  .hero-label p {
    font-size: 32px;
    line-height: 35px;
    color: #000;
    font-weight: bold;
  }
  .hero-link a {
    font-size: 12px;
  }
  .sponsors {
    flex-direction: column;
    gap: 50px;
    padding: 25px 0;
  }

  .homepage-faq-main-container {
    flex-direction: column !important;
    gap: 50px;
  }

  .homepage-hero-image-custom {
    border-top: 15px solid #f2eeff;
    border-right: 15px solid #f2eeff;
    border-radius: 30px;
  }

  .homepage-hero-image-custom-wrapper {
    align-self: flex-start;
    border-radius: 30px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
  }

  .benefits-content .hero-label {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 25px;
  }
  .benefits-logo-container {
    flex-direction: column;
    gap: 25px;
    padding: 25px 0;
  }

  .homepage-hero-section.two {
    flex-direction: row-reverse;
    flex-direction: column;
  }

  .homepage-hero-image-custom-wrapper-two {
    align-self: flex-start;
    border-radius: 30px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
  }
  .homepage-hero-image-custom-two {
    border-top: 15px solid #f2eeff;
    border-left: 15px solid #f2eeff;
    border-radius: 30px;
  }
  .homepage-hero-content .links-container {
    display: flex;
    gap: 25px;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .homepage-hero-content .links-container .hero-link {
    width: 100%;
    text-align: center;
  }

  .homepage-faq-hero img {
    width: 100%;
  }
}

/* Homepage Screen Design Mobile End */

/* Registration Screens */

.registration-modal .modal-content {
  background: var(--body-background);
}

.registration-modal {
  max-width: 50%;
}

.registration-modal-container {
  display: flex;
  justify-content: center;
}

.registration-container.sign-up {
  background-image: url(./images/signup-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

@media screen and (max-width: 768px) {
  .registration-modal {
    max-width: 100%;
  }
}

/* Registration Screens End */
